/* DeleteModal.css */

.deleteModal {
    position: absolute;
    top: 300px;
    left: 650px;
    width: 472px;
    height: 338px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    border: 1px;
  }
  
  .deleteModalOverlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .image{
    margin: auto;
    width: 96px;
    height: 98px;
  }
  
  .deleteModalTitle {
    font-size: 20px;
    font-family: inherit;
    margin-top: 90px;
    color: #282828;
  }
  
  .deleteBtn {
    background-color: #F43F5E;
    color: white;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 5px;
    font-family: inherit;
  }
  
  .cancelBtn {
    background-color: #DFDFDF;
    color:  #282828CC;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 5px;
    font-family: inherit;
  }
  